<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="None"/>
    <add key="EULA" value="Resources\EULA.rtf"/>
    <add key="Require" value="MOSS"/>
    <add key="MinSharePointVersion" value="12.0.0.0"/>
    <add key="MaxSharePointVersion" value=""/>
    <add key="SolutionId" value="0399F229-136F-4f6c-AC47-8654CAE1984C"/>
      <!-- FarmFeatureId: Old way to specify a single farm-level feature
            obsoleted by newer FeatureId key -->
    <add key="FarmFeatureId" value="159B735F-ADD5-45db-A232-BE5AF892B313"/>
      <!-- FeatureId: Feature(s) to install/upgrade/repair
          Either a single GUID, or a semicolon delimited GUID list -->
    <add key="FeatureId" value="159B735F-ADD5-45db-A232-BE5AF892B313"/>
      <!-- FeatureScope: Scope of feature(s) specified in FeatureId
          Legal values: Farm, Web Application, Site, Web-->
    <add key="FeatureScope" value="Site"/>
    <add key="SolutionFile" value="Resources\DemoSolution.wsp"/>
    <add key="SolutionTitle" value="Demo Solution"/>
      <!-- SolutionVersion: Version of solution: this value is stored in the farm property bag -->
    <add key="SolutionVersion" value="1.0.0.0"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="true"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>
      <!-- DefaultDeployToSRP: Whether box for Shared Resource Provider web app is initially checked
            if user is prompted for web applications to target -->
    <add key="DefaultDeployToSRP" value="false"/>
    <add key="DefaultDeployToAdminWebApplications" value="false"/>
    <add key="DefaultDeployToContentWebApplications" value="false"/>
      <!-- PromptForWebApplications: To force user prompt for web application; 
           useful if a dll is included, so SafeControl entries needed, 
           but feature not at webapp level -->
    <add key="PromptForWebApplications" value="false"/>
  </appSettings>
</configuration>
