<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="None"/>
    <add key="EULA" value="EULA.rtf"/>
    <add key="SolutionId" value="0399F229-136F-4f6c-AC47-8654CAE1984C"/>
    <add key="FarmFeatureId" value="159B735F-ADD5-45db-A232-BE5AF892B313"/>
    <add key="SolutionFile" value="DemoSolution.wsp"/>
    <add key="SolutionTitle" value="Demo Solution"/>
    <add key="SolutionVersion" value="1.0.0.0"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="true"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>    
  </appSettings>
</configuration>